// Colors

$blue:       #05A9CF;
$orange:     #FFB100;
$red:        #FF1E00;
$gray-light: #EEE;
$gray:       #666;
$black:      #000;
$white:      #FFF;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Neuton:400,300,400italic,700,800);

$neuton: 'Neuton', serif;

body {
  font-family: $neuton;
  line-height: 30px;
}
